<html>
  <head>
    <title>A Rack Demo</title>
  </head>
  <body>
    <h1>This is the root page</h1>
    <p><%= @hello %> from a template!</p>
    <h2>Resources</h2>
    <ul>
      <li><a href="/posts">Posts</a></li>
    </ul>
  </body>
</html>