<html>
  <head>
    <title>Create new Post</title>
  </head>
  <body>
    <h1>Create new Post</h1>
    <h2>Resources</h2>
    <form action="/posts" method="POST">
      <label>Title</label>
      <input type='text' name="title" />
      <label>Body</label>
      <textarea name="body"></textarea>
      <input type='submit' value='Submit' />
    </form>
    <%# <ul>
      <li><a href="/posts">Posts</a></li>
    </ul> %>
  </body>
</html>